@charset "UTF-8";
header {
	width: 100%;
	height: 8%;
	background-color: #101010;
	border-bottom: 2px solid #FFFFFF;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	text-align: left;
	margin-right: 25px;
	margin-top: 13px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #D4D1D1;
}
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}
/* Logo placeholder*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(190,190,190,1.00);
}
/* div for Links in header */
#headerLinks {
	float: left;
	width: calc( 100% - 139px );
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,1.00);
}
/* Links in header */
#headerLinks a {
	text-decoration: none;
	color: rgba(146,146,146,1.00);
	padding-left: 66px;
	font-size: 14px;
}
/* Offer text banner*/
#offer {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	background-color: #010101;
	color: #FFFFFF;
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
.container {
	background-color:black;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:100px; 
	border-bottom-width: thin;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 100px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom:0px;
	padding-left: 0px;
	display: inline-block
}
.row.blockDisplay {
	display: block;
}
.columns {
	width: 33%;
	float: left;
	font-family: "Montserrat";
	color: white;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom:0px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: -20px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
}
.container .columns h4 {
	text-align: center;
	font-weight: bold;
	color: white;
		
}
@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}

.formulaire {
	width: 90%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 80px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom:0px;
	padding-left: 0px;
	cursor: pointer;
	opacity: 0.5;
	background-color:whitesmoke;
font-family:Montserrat, sans-serif;}
* {box-sizing: content-box;}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    
}

input[type=submit] {
    background-color: #blue;
    color:#1F1F1F;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
	font-weight: bolder;
	font-weight: 900;
	margin-bottom: 30px;

}

.container {
    border-radius: 5px;
    background-color:#00070B;
    padding: 0px;
	border-style: solid;
	border-width: 7px;

}
h7 {
    text-align: center;
    color:black;
    font-family:montserrat sans-serif;
	font-size: 200%;
	margin-bottom: 20px
	
	

}
.contact{
	text-align: center;
	font-family:montserrat sans-serif;
	margin-bottom: 40px;
	margin-top: 40px;
	
	
	
	}
.Cadre{
	color: black;
	font-weight: 730;
	border-color:#291E1E;
	border-width: 2px;
	border-style:inset;
	background-color: whitesmoke;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #010101;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	border-top-width: 2px;
}
#menu
